body {
    background-color: #FFFFFD;
    padding: 0;
    margin: 10;
    border: 0;
    outline: 0;
}
#input_field {
    background-color: #CCFFCC;
    width: 185px;
    height: 30px;
    border: 1px solid black;
}
button{
    width: 60px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}
#plus-minus{
    text-decoration: underline;
}
#eq_button{
    color: green;
}
#c_button{
    color: red;
}
.operator_buttons button{
    color: blue;
}